# cp env.example .env

API_NAME=go-web
API_HOST=localhost
API_PORT=3080
API_REQUEST_LOG=false
API_RUN_SWAGGER=false

DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=postgres
DB_SSL_MODE=disable